In [1]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('news_1_mio_cleaned.csv')
df = df.drop(['Unnamed: 0'], axis = 1)

df['meta_keywords'] = df['meta_keywords'].apply(lambda x : str(x))
df

c:\users\chris\miniconda3\envs\untitled\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,domain,type,url,content,scraped_at,inserted_at,updated_at,title,authors,keywords,meta_keywords,meta_description,tags,summary,source
0,2,express.co.uk,rumor,https://www.express.co.uk/news/science/738402/...,"life is an illusion, at least on a quantum lev...",2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,is life an illusion? researchers prove 'realit...,sean martin,NaN,[''],the universe ceases to exist when we are not l...,NaN,NaN,NaN
1,6,barenakedislam.com,hate,http://barenakedislam.com/category/donald-trum...,"unfortunately, he hasn’t yet attacked her for ...",2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,donald trump,"linda rivera, conrad calvano, az gal, lincoln ...",NaN,[''],NaN,NaN,NaN,NaN
2,7,barenakedislam.com,hate,http://barenakedislam.com/category/donald-trum...,the los angeles police department has been den...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,donald trump,"linda rivera, conrad calvano, az gal, lincoln ...",NaN,[''],NaN,NaN,NaN,NaN
3,8,barenakedislam.com,hate,http://barenakedislam.com/2017/12/24/more-winn...,the white house has decided to quietly withdra...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,"more winning! israeli intelligence source, deb...","cleavis nowell, cleavisnowell, clarence j. fei...",NaN,[''],NaN,NaN,NaN,NaN
4,9,barenakedislam.com,hate,http://barenakedislam.com/2017/12/25/oh-trump-...,“the time <URL>e to cut off the tongues of tho...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,"“oh, trump, you coward, you just wait, we will...","f.n. lehner, don spilman, clarence j. feinour,...",NaN,[''],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1170116,wikileaks.org,unreliable,https://www.wikileaks.org/plusd/cables/1976IBA...,tor tor is an encrypted <URL>work that makes i...,2018-01-25 20:13:50.426130,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,cable: 1976ibadan00030,Unknown,NaN,[''],NaN,view tags,NaN,NaN
999996,1170117,wikileaks.org,unreliable,https://www.wikileaks.org/plusd/cables/1976BOM...,tor tor is an encrypted <URL>work that makes i...,2018-01-25 20:13:50.426130,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,cable: 1976bombay00030,Unknown,NaN,[''],NaN,view tags,NaN,NaN
999997,1170118,wikileaks.org,unreliable,https://www.wikileaks.org/plusd/cables/1976STA...,tor tor is an encrypted <URL>work that makes i...,2018-01-25 20:13:50.426130,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,cable: 1976state087319,Unknown,NaN,[''],NaN,view tags,NaN,NaN
999998,1170119,wikileaks.org,unreliable,https://www.wikileaks.org/plusd/cables/1974BAN...,tor tor is an encrypted <URL>work that makes i...,2018-01-25 20:13:50.426130,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,cable: 1974bangko15999,Unknown,NaN,[''],NaN,view tags,NaN,NaN
999999,1170120,wikileaks.org,unreliable,https://www.wikileaks.org/plusd/cables/1974STA...,tor tor is an encrypted <URL>work that makes i...,2018-01-25 20:13:50.426130,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,cable: 1974state087319,Unknown,NaN,[''],NaN,view tags,NaN,NaN

In [2]:
df1 = pd.DataFrame(df.meta_keywords.str.split(',').tolist(), index=df.id).stack()
df1 = df1.reset_index([0, 'id'])
df1.columns = ['id', 'meta_keywords']

df1.replace('\W', "" , regex=True, inplace = True)
df1.replace(r'^\s*$', np.nan, regex=True, inplace = True)
df1.fillna(value='Unknown', inplace=True)

df1

              id meta_keywords
0              2       Unknown
1              6       Unknown
2              7       Unknown
3              8       Unknown
4              9       Unknown
...          ...           ...
1899733  1170116       Unknown
1899734  1170117       Unknown
1899735  1170118       Unknown
1899736  1170119       Unknown
1899737  1170120       Unknown

[1899738 rows x 2 columns]

In [3]:
#keywords_table
df2 = df1['meta_keywords']
df2.drop_duplicates(keep ="first", inplace=True)
df2 = df2.to_frame()
df2.insert(0, 'keyword_id', range(100, 100 + len(df2)))
Keywords_table = df2
Keywords_table

         keyword_id      meta_keywords
0               100            Unknown
10              101      prolifeevents
11              102   clenardchildress
12              103           schedule
13              104    prolifeschedule
...             ...                ...
1896671      118757     angeljaramillo
1896844      118758       abigaillavin
1897145      118759          bertuseem
1897146      118760  annemorrisonpiehl
1897172      118761  arthurcottonmoore

[118662 rows x 2 columns]

In [ ]:
#tags
my_dict = pd.Series(df2.keyword_id.values, index = df2.meta_keywords).to_dict()
tags = df1
tags = df1.replace({"meta_keywords": my_dict})
tags.rename(columns={'id': 'article_id', 'meta_keywords': 'keyword_id'}, inplace = True)

tags

In [ ]:
#export to csv
Keywords_table.to_csv('keyword_table.csv', index = False)
tags.to_csv('tags_table.csv', index = False)